@use "@styles/_mixins" as mixins;

.foundArtists {
  @include mixins.flex_container(column, center, center);
  margin-top: 2rem;

  ul {
    list-style: none;
    padding: 0;

    li {
      @include mixins.flex_container(row, center, center);
      cursor: pointer;
      border-radius: 1rem;
      width: 20rem;
      height: 2rem;
      margin-bottom: 0.7rem;
      font-family: var(--font-primary);
      background-color: var(--color-green);
      color: var(--color-black);
      font-size: 1rem;

      &:hover {
        transform: scale(1.04);
      }
    }
  }
}
