@use "@styles/_mixins" as mixins;
@use "@styles/_responsives" as responsives;

.trackListTop {
  @include mixins.flex_container(row, center, flex-end);
  gap: 2rem;

  @include responsives.resolution__tablet__s {
    @include mixins.flex_container(column, center, center);
  }

  .topText {
    @include mixins.flex_container(column, center, flex-start);
    gap: 1rem;
    width: 100%;

    p {
      margin: 0;
    }

    h2 {
      text-transform: capitalize;
      font-size: 3rem;
      font-weight: 600;
      background: transparent;

      @include responsives.resolution__laptop__s {
        font-size: 2rem;
      }

      @include responsives.resolution__tablet__s {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .albumData {
      @include mixins.flex_container(row, flex-start, center);
      gap: 0.5rem;
      margin-top: 0.5rem;
      background: transparent;
      font-weight: 400;

      .artistName {
        text-transform: capitalize;
      }

      .duration {
        color: var(--color-gray);
      }

      .dot {
        font-size: 0.5rem;
      }

      .artistImage {
        img {
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }

  @include responsives.resolution__mobile__m {
    img {
      width: 10rem;
      height: auto;
    }
  }
}
