@use "@styles/_responsives" as responsives;

.list {
  h2 {
    padding: 1rem 2rem;
    background-color: hsla(0, 0%, 100%, 0.02);

    @include responsives.resolution__tablet {
      font-size: 1.2rem;
    }

    @include responsives.resolution__mobile__m {
      font-size: 1rem;
    }
  }

  ul {
    margin-bottom: 3rem;

    a {
      text-decoration: none;
    }
  }

  .slider {
    margin: 3rem 0;

    :global .slick-slider {
      .slick-track {
        display: flex;
        justify-content: space-around;
        gap: 3rem;

        .slick-active {
          max-width: 11.844rem;

          a {
            max-width: 11.844rem;
          }
        }
      }
    }
  }
}
