@use "@styles/_responsives" as responsives;

.list {
  h2 {
    padding: 1rem 2rem;
    background-color: hsla(0, 0%, 100%, 0.02);

    @include responsives.resolution__tablet {
      font-size: 1.2rem;
    }

    @include responsives.resolution__mobile__m {
      font-size: 1rem;
    }
  }

  ul {
    a {
      text-decoration: none;
    }
  }

  .slider {
    margin: 3rem 2rem;

    @include responsives.resolution__mobile__m {
      margin: 3rem 1.55rem 3rem 17vw;
    }

    @include responsives.resolution__mobile {
      margin: 3rem 1.55rem 3rem 14vw;
    }

    @include responsives.resolution__mobile__s {
      margin: 3rem 1.55rem 3rem 12vw;
    }

    @include responsives.resolution__mobile__xxs {
      margin: 3rem 2rem;
    }
  }
}
