@use "@styles/_mixins" as mixins;
@use "@styles/_responsives" as responsives;

.trackList {
  @include mixins.flex_container(column, center, flex-start);
  margin-top: -2rem;
  padding: 0 2rem 8rem 2rem;
  background: linear-gradient(180deg, #b83737 0%, #000000 38%);

  @include responsives.resolution__mobile__m {
    padding-right: 1rem;
  }
}
