@use "@styles/_mixins" as mixins;
@use "@styles/_responsives" as responsives;

.trackList {
  @include mixins.flex_container(column, center, flex-start);
  margin-top: -2rem;
  margin-bottom: 8rem;
  padding-left: 2rem;
  background: linear-gradient(180deg, #b83737 0%, #000000 38%);

  .goBackButton {
    margin-bottom: 2rem;

    button {
      @include mixins.flex_container(row, center, center);
      gap: 0.5rem;

      @include responsives.resolution__mobile__m {
        height: 1.8rem;
        width: 6rem;
      }
    }

    a {
      text-decoration: none;
    }
  }

  .top {
    @include mixins.flex_container(row, center, flex-end);
    gap: 2rem;

    .topText {
      @include mixins.flex_container(column, center, flex-start);
      gap: 1rem;

      p {
        margin: 0;
      }

      h2 {
        font-size: 4rem;
        font-weight: 700;
        background: transparent;
      }

      .albumData {
        @include mixins.flex_container(row, flex-start, center);
        gap: 0.5rem;
        margin-top: 0.5rem;
        background: transparent;

        span {
          text-transform: capitalize;
        }

        .artistImage {
          img {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }
    }
  }

  .separator {
    @include mixins.flex_container(row, space-between, flex-start);
    margin-top: 3rem;
    width: 75rem;
    height: 2rem;
    color: #b3b3b3;
    border-bottom: 0.063rem solid hsla(0, 0%, 100%, 0.1);

    .left {
      @include mixins.flex_container(row, space-between, flex-end);
      .trackNumber {
        margin: 0 0 0 0.5rem;
      }

      .title {
        margin: 0 0 0 1.5rem;
      }
    }

    .clock {
      margin-right: 1.5rem;
    }
  }

  ul {
    padding: 0;
    list-style: none;

    li {
      cursor: pointer;
    }
  }

  @include responsives.resolution__mobile__m {
    img {
      width: 10rem;
      height: auto;
    }
  }
}
