.artistInput {
  position: relative;

  &:hover,
  &:focus-within {
    .search {
      svg {
        color: var(--color-white);
      }
    }
  }

  input {
    width: 25rem;
    height: 2rem;
    border-radius: 31.25rem;
    font-family: var(--font-secondary);
    background-color: #242424;
    padding: 0.375rem 2.25rem;
    font-size: 1rem;
    border: none;

    color: var(--color-white);

    &:hover {
      background-color: #2a2a2a;
      outline: 0.063rem solid #323232;
    }

    &:focus {
      outline: 0.125rem solid var(--color-white);
    }
  }

  .search {
    position: absolute;
    top: 0.8rem;
    left: 0.8rem;

    svg {
      color: var(--color-gray);
    }
  }
}
