@use "@styles/_responsives" as responsives;
@use "@styles/_mixins" as mixins;

.socialIcons {
  @include mixins.flex_container(row, center, center);
  gap: 1rem;

  .facebookIcon {
    color: var(--color-white);
    width: 2.5rem;
    height: auto;
  }

  .githubIcon {
    width: 2rem;
    height: auto;
  }

  .githubIcon,
  .facebookIcon {
    &:hover {
      filter: drop-shadow(0 0 0.5rem var(--color-white));
      transform: scale(1.1);
      transform-origin: center;
    }
  }

  .likes {
    @include mixins.flex_container(row, center, center);
    gap: 0.2rem;

    button {
      max-width: 2rem;
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;

      &:hover {
        filter: drop-shadow(0 0 0.5rem var(--color-white));
        transform: scale(1.1);
        transform-origin: center;
      }
    }

    &.alreadyLiked {
      pointer-events: none;

      svg {
        color: var(--color-orange);
      }
    }
  }
}
