@font-face {
  font-family: "circular";
  src: url("@assets/fonts/circular/CircularSpotifyText-Book.otf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "circular";
  src: url("@assets/fonts/circular/CircularSpotifyText-Bold.otf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

$fontPrimary: "circular", sans-serif;
