@use "@styles/_mixins" as mixins;

.album {
  cursor: pointer;
  width: 30rem;

  .albumData {
    @include mixins.flex_container(row, flex-start, center);
    gap: 1rem;
    height: 5rem;
    border-radius: 0.5rem;

    &:hover {
      background-image: linear-gradient(
        to left,
        #393737 0%,
        rgba(217, 217, 217, 0) 100%
      );
    }

    .image {
      margin-top: 0.25rem;

      img {
        width: 5rem;
        height: auto;
        border-radius: 0.5rem;
      }
    }

    .albumName {
      font-family: var(--font-secondary);
    }
  }

  .separator {
    margin-top: 0.5rem;
  }
}
