@use "@styles/_mixins" as mixins;

.trackPlayer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 11.5rem;
  @include mixins.flex_container(column, center, center);
  background-color: var(--color-black);
  z-index: 2000;

  &.isMinimized {
    bottom: calc(1vh - 52px);
    left: calc(100vw / 2 - 160px);
    width: 18.75rem;
    border-radius: 1rem;
  }

  .details {
    padding: 0.5rem 0.5rem 0 0.5rem;
    text-transform: capitalize;
    @include mixins.flex_container(row, space-between, center);
    gap: 1rem;
    width: 95%;

    p {
      padding: 0;
      margin: 0;
      width: 30rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .sizeIcon {
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        color: var(--color-green);
      }
    }

    &.isMinimized {
      width: 17rem;

      p {
        width: 13.5rem;
      }
    }
  }

  .footerSpace {
    height: 6.6rem;
  }

  .player {
    width: 100%;
    background-color: var(--color-black);
  }
}
