@use "@styles/_mixins" as mixins;

.trackPlayer {
  position: fixed;
  bottom: 3.8rem;
  width: 100%;
  margin-left: -2rem;
  @include mixins.flex_container(row, center, center);
  background-color: var(--color-black);

  iframe {
    margin-top: 0.5rem;
    margin-bottom: -1.5rem;
  }

  .footerSpace {
    height: 6.6rem;
  }
}
