@use "@styles/_mixins" as mixins;

.trackPlayer {
  position: fixed;
  bottom: 3.8rem;
  width: 100%;
  @include mixins.flex_container(row, center, center);
  background-color: var(--color-black);

  .footerSpace {
    height: 6.6rem;
  }

  .player {
    width: 100%;
    background-color: var(--color-black);
  }
}
