@use "@styles/_mixins" as mixins;
@use "@styles/_responsives" as responsives;

.listedElement {
  width: 11.844rem;
  margin-left: 2.2rem;

  @include responsives.resolution__laptop__ms {
    width: 8rem;
    margin-left: 1.3rem;
  }

  @include responsives.resolution__laptop__s {
    margin-left: 0.75rem;
  }

  @include responsives.resolution__laptop__xs {
    margin-left: 0.3rem;
  }

  @include responsives.resolution__laptop__xxs {
    margin-left: 0;
  }

  @include responsives.resolution__tablet {
    margin-left: 1.25rem;
  }

  @include responsives.resolution__tablet__m {
    margin-left: 1rem;
  }

  @include responsives.resolution__tablet__xs {
    margin-left: 0.6rem;
  }

  @include responsives.resolution__tablet__xxs {
    margin-left: 1.7rem;
  }

  @include responsives.resolution__mobile__m {
    margin-left: 0.25rem;
  }

  @include responsives.resolution__mobile {
    margin-left: 0;
  }

  @include responsives.resolution__mobile__s {
    margin-left: 0.2rem;
  }

  &.isList {
    @include responsives.resolution__mobile__xxs {
      margin-left: calc((100vw - 12rem) / 2);
    }
  }

  &.isFoundResults {
    @include responsives.resolution__mobile__xxs {
      margin-left: calc((100vw - 13rem) / 2);
    }
  }

  li {
    @include mixins.flex_container(column, flex-start, flex-start);
    cursor: pointer;
    font-family: var(--font-primary);
    color: var(--color-white);
    font-size: 1rem;
    border-radius: 0.7rem;
    width: 11.844rem;
    height: 16.719rem;
    background-color: hsla(0, 0%, 100%, 0.02);
    transition: background-color 0.5s;

    @include responsives.resolution__laptop__ms {
      width: 8rem;
      height: 11.29rem;
    }

    @include responsives.resolution__mobile__xxs {
      margin: 0 auto;
    }

    &:hover {
      background-color: hsla(0, 0%, 100%, 0.05);
      transition-timing-function: ease-out;
    }

    .content {
      margin: 0 auto;
      position: relative;
      height: 100%;

      &:hover {
        .text {
          .playButton {
            transition-timing-function: ease-in;
            opacity: 1;
          }
        }
      }

      img {
        border-radius: 50%;
        width: 9rem;
        height: 9rem;
        object-fit: cover;
        margin-top: 1rem;

        @include responsives.resolution__laptop__ms {
          width: 6rem;
          height: 6rem;
          margin-bottom: 0.5rem;
        }
      }

      .text {
        .top {
          @include mixins.flex_container(column, space-between, center);
          height: 100%;

          @include responsives.resolution__laptop__ms {
            height: 3.2rem;
          }

          .name {
            width: 9rem;
            color: var(--color-white);
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 700;
            font-size: 0.825rem;
            height: 2.875rem;

            @include responsives.resolution__laptop__ms {
              width: 6rem;
              font-size: 0.75rem;
              line-height: normal;
              margin-top: 0;
              height: 1.7rem;
            }
          }

          .tag {
            font-size: 0.875rem;
            width: 9rem;
            margin-top: 0;
            margin-bottom: 1.5rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            @include responsives.resolution__laptop__ms {
              font-size: 0.7rem;
              margin-top: -1rem;
              width: 6rem;
              line-height: normal;
              margin-bottom: 0;
            }
          }
        }
        .playButton {
          @include mixins.flex_container(row, center, center);
          background-color: var(--color-green);
          border-radius: 50%;
          width: 2.5rem;
          height: 2.5rem;
          position: absolute;
          bottom: 7rem;
          right: 0;
          opacity: 0;
          transition: opacity 200ms;

          &:hover {
            transform: scale(1.08);
          }

          @include responsives.resolution__laptop__ms {
            width: 2rem;
            height: 2rem;
            bottom: 5rem;
            right: 0;
          }
        }
      }
    }
  }
}
