@use "@styles/_mixins" as mixins;
@use "@styles/_responsives" as responsives;

.goBackButton {
  height: 2rem;
  margin-bottom: 2rem;
  position: relative;

  button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    gap: 0.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 97%;

    svg {
      margin-left: -0.1rem;
      margin-top: 0.35rem;

      @include responsives.resolution__mobile__m {
        margin-top: 0.2rem;
      }
    }
  }
}
