@use "@styles/_mixins" as mixins;
@use "@styles/_responsives" as responsives;

.goBackButton {
  height: 2rem;
  margin-bottom: 2rem;

  a {
    display: block;
    height: 100%;
    width: 2rem;
    position: relative;

    button {
      @include mixins.flex_container(row, center, center);
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      gap: 0.5rem;
      background-color: rgba(0, 0, 0, 0.7);
      position: absolute;
      top: 100%;
      left: -8%;

      svg {
        margin-left: -0.1rem;
      }
    }
  }
}
