@use "@styles/_responsives" as responsives;
@use "@styles/_mixins" as mixins;

.footer {
  position: relative;
  z-index: 2000;
  padding: 0.5rem 0 0.5rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  @include mixins.flex_container(row, center, center);
  background-color: var(--color-black);

  &.removeBg {
    background: none;
  }
}
