@use "@styles/_responsives" as responsives;

.list {
  h2 {
    padding-left: 2rem;

    @include responsives.resolution__tablet {
      font-size: 1.2rem;
    }

    @include responsives.resolution__mobile__m {
      font-size: 1rem;
    }
  }

  ul {
    a {
      text-decoration: none;
    }

    img {
      margin-bottom: -0.5rem;

      @include responsives.resolution__laptop__ms {
        margin-bottom: 0.2rem;
      }
    }
  }

  .slider {
    margin: 3rem 0;
    padding-left: 2rem;
  }
}
