@use "@styles/_mixins" as mixins;

.albumsList {
  width: 100%;
  margin-top: 2rem;

  &.showPlayer {
    .playerSpace {
      height: 6rem;
      width: 20rem;
    }
  }

  h2 {
    text-align: left;
  }

  ul {
    padding: 0;
    list-style: none;
    @include mixins.flex_container(row, center, center);
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 3rem;
  }

  button {
    margin-left: 2rem;
    margin-top: -2rem;
  }

  .loader {
    @include mixins.flex_container(column, center, center);
  }
}
