@use "@styles/_mixins" as mixins;

.track {
  @include mixins.flex_container(row, flex-start, center);
  gap: 1rem;
  width: 25rem;
  border-radius: 0.7rem;

  &:hover {
    background-image: linear-gradient(
      to left,
      #393737 0%,
      rgba(217, 217, 217, 0) 100%
    );
  }

  .trackNumber {
    line-height: 1.4375rem;
    color: #cdcdcd;
    padding: 0.5rem;
  }
}
