@use "@styles/_mixins" as mixins;

.track {
  @include mixins.flex_container(row, space-between, center);
  gap: 1rem;
  width: 25rem;
  border-radius: 0.7rem;

  &:hover {
    background-image: linear-gradient(
      to left,
      #393737 0%,
      rgba(217, 217, 217, 0) 100%
    );
  }

  .left {
    @include mixins.flex_container(row, flex-start, center);

    .trackNumber {
      line-height: 1.4375rem;
      color: #cdcdcd;
      padding: 0.5rem;
    }
  }

  .duration {
    font-size: 0.875rem;
    font-family: var(--font-secondary);
    padding-right: 1rem;
  }
}
