@use "@styles/_mixins" as mixins;
@use "@styles/_responsives" as responsives;

.track {
  @include mixins.flex_container(row, space-between, center);
  gap: 1rem;
  max-width: 100%;
  border-radius: 0.7rem;

  @include responsives.resolution__mobile__m {
    width: 20rem;
    font-size: 0.825rem;
    height: 2rem;
  }

  @include responsives.resolution__mobile__s {
    width: 15rem;
  }

  &:hover {
    background-image: linear-gradient(
      to left,
      #393737 0%,
      rgba(217, 217, 217, 0) 100%
    );
  }

  .left {
    @include mixins.flex_container(row, flex-start, center);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;

    .trackNumber {
      line-height: 1.4375rem;
      color: #cdcdcd;
      padding: 0.5rem;
    }

    a {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-left: 1rem;

      .songName {
        margin-bottom: 0.5rem;
        color: var(--color-white);
      }

      .artistName {
        margin-top: 0;
        margin-bottom: 0.5rem;
        color: #b3b3b3;
        font-size: 0.875rem;
      }
    }
  }

  .duration {
    font-size: 0.875rem;
    font-family: var(--font-primary);
    padding-right: 1rem;

    @include responsives.resolution__mobile__m {
      font-size: 0.8rem;
    }
  }
}
